<!DOCTYPE html>
<html>
<head>
    <title>Oscar Nysten Portfolio</title>
    <link rel="stylesheet" type="text/css" href="/css/frontpage.css"/>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>
<body>
<header>
    <div class="nameTopLeft">
        <h2>oscarNysten()</h2>
    </div>
    <div class="tabs">
        <a class="textStyles" href="/" >.home</a>
        <a class="textStyles" href="/projects" >.projects</a>
        <a class="textStyles" href="/contact" >.contact</a>
    </div>
</header>
