<%- include('partials/header') %>
<div class="about">
    <div class="mainText">
        <h3>Oscar Nysten</h3>
        <p>Graduating in the spring of 2024 with a degree in Computer Science.</p>
    </div>
</div>

<%- include('partials/footer') %>
