<%- include('partials/header') %>

<div class="main">
    <div class="mainText">
        <h1>oscar nysten</h1>
        <h2>COMPUTER SCIENCE STUDENT <a href="https://www.uib.no/studier/BAMN-DTEK" target="_blank">@UIB</a></h2>
        <p>Graduating in the spring of 2024 with a degree in Computer Science.</p>
    </div>
</div>
<%- include('partials/footer') %>
