<%- include('partials/header') %>
<div class="projects">


    <div class="nordicUSV">
        <img src="https://uploads-ssl.webflow.com/63f4cbc0b8f5b173a7b7a6eb/6491dce8b6876c154f394076_Logo%20Vanlig-p-500.png">
        <h1>NORDICUSV</h1>
        <p>Nordic USV was a startup company I joined January 2023 with the hopes of getting some relevant work experience</p>
        <p>It ended up being one of the most enjoyable experiences of my study years</p>
        <p>Initially I worked on a USV (Unmanned Surface Vehicle) called USV-Len which was made for coastal sea surveys.</p>
        <p>This was made using Arduino to control the boat, which was coded in C</p>

        <img class="usvlen"src="https://uploads-ssl.webflow.com/63f4cbc0b8f5b173a7b7a6eb/648c8c4e7f40f57211031803_IMG_2161-p-800.jpeg">
        <br><p>We found out early it was not feasable to compete with the other giants in the field with years of experience, <p>
        <p>so we deviated to providing a service for simplyfying access to coastal data along the coast of Norway.</p>
        <p>This led us to developing a website called survey.nordicusv.com, now named kystdata.io which was initially created solely by me</p>
        <p>Later 2 more students joined to aid in the development of the website, and now there are 6 employees at the company.</p>
        <p>Working on this website, I learned a lot about web-development, both frontend and backend as I didnt have an option to have someone else handle either side. </p>
        <p>It is a startup, so whatever technology I needed to learn, I did and throughout the summer with intense workhours and study during my freetime, it was up and running in September.</p>
        <p>The website runs on Django, a Python backend and hosted on Azure.</p>
        <p>The website itself was made using the common frontend tools, HTML5, CSS3 and JavaScript</p>
        <p>As the website has progressed and the features are comming into place, we are working on upgrading to newer frameworks, technologies and more.</p>
        <p>As of 10th of March, we have started working on an API to be used by Miljødirektoratet for inserting our datafiles into the national database for sea data.</p>
        
    </div>

    <div class="chessgame">
        <br>
        <h1>Corrupt Chess</h1>
        <img src="/corruptchess.png" alt="Chess Game">

        <p>This was my first multi month project that I started during the spring of 2022.</p>
        <p>I was starting to learn Java and came upon a tutorial on how to make a Mario game using libGDX</p>
        <p>After following the tutorial, I decided to make a chess game instead, as I had been playing a lot of chess at the time.</p>
        <p>It was a great learning experience, and I learned a lot about Java, OOP and game development in general.</p>
        
    </div>
</div>


<%- include('partials/footer') %>
