html{
    scroll-behavior: smooth;
}

/*HEADER */
.headers{
    position: fixed;
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(50, 52, 68);
    width: 100%;
    height: 70px;
    z-index: 1;
}

.uni{
    color:white;
}
.uni:hover{
    color:rgb(17, 0, 255);
}

/* BUTTONS IN HEADER */
a.button1{
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
  
 }
a.button1:hover{
 color:#000000;
 background-color:#FFFFFF;
}

body {
    font-family: 'Alegreya Sans', sans-serif;
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat:repeat;
    margin: 0;
    padding: 0;
}

/* INTRO SECTION */ 
.intro{
    text-align: center;
    color: white;
    font-family: 'Oswald', sans-serif;
    padding:180px;
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 50px;

}
.intro h1{
    font-size: 100px;
}
.intro h3{
    font-size: 50px;
}
.intro img{
    margin-left: auto;
    padding-right: 10px;
}

/* ABOUT SECTION */
.about{
    display:flex;
    justify-content: center;
    height:800px;
    padding-left: 0;
    padding-right: 0;
    color:black;
    background-color: white;
    padding-top: 100px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
.about h1{
    font-size: 50px;
}

.about p{
    align-self: center;
}

/* PROJECTS */
.projects{
    display: flex;
    justify-content: center;
    height: 500px;
    padding-left: 0;
    padding-right: 0;
    padding-top:40px;
    margin-top: 200px;
    margin-bottom: 20px;
}

.contact{
    display: flex;
    justify-content: center;
    background-color: gray;
    height: 500px;
    padding-left: 0;
    padding-right: 0;
    -webkit-border-top-left-radius: 30px;
    -webkit-border-top-right-radius: 30px;
    -moz-border-radius-topleft: 30px;
    -moz-border-radius-topright: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #5DADE2;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
  }
/* SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: black;
  }
  ::-webkit-scrollbar-thumb {
    background: white;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: gray;
  }